/* 導引欄樣式 */

*{
    margin: 0;
    padding: 0;
}

body{
    min-width: 1000px;
}



.layout {
    display: flex;
}

/* 切版樣式 */
.nav{
    display: flex;
    flex-direction: column;
    background-color: #003063;
    position: fixed;
    transform: translateX(-150px);
    transition: transform 0.3s ease-in-out;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
}

.nav.active {
    transform: translateX(0);
}


.nav-logo{
    display: flex;
    justify-content: space-between;
}

.nav-logo-btn {
    color: #ffff;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}





/*導覽欄Logo*/
.nav-logo{
    max-height: 30%;
    margin: 20px;
}

/*導覽欄用戶*/
.nav-user{
    display:flex;
    margin-left: 20px;
    margin-top:20px
    align-items: center;
}

.nav-user-img{
    height: 30px;
    width: 30px;
}

.nav-user-item{
    color: white;
    padding: 10px;
    text-decoration: none;
    align-items: flex-start;
}

.nav-user-item:hover{
    color: #FFC107;
    transform: scale(1.1);
}

/*導覽欄連結*/
.nav-item{
    color: white; 
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: -5px;
}

.nav-item-title:hover{
    color: #FFC107;
    transform: scale(1.1);
}

.nav-item-icons.rotate {
    transform: rotate(90deg);
}

.nav-item-icons {
    display: block;
    height: 1.5em;
    width: 1.5em;    
    background-size: contain;
    transition: transform 0.2s ease-out;

}

/*導覽欄內容*/

.nav-item-title {
    margin: 15px;
    padding-left: 10px;
    display:flex;
    align-items: center;
}

.nav-item-title-words{
    margin-left: 10px;
}



/*內容區塊*/
.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;    
    margin-left: 40px;
    margin-right:auto ;
    height: 98vh;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 95%;
}




/*內容區塊的標題*/
.container-title{
    display:flex;
    align-items: center;
    justify-content: center
    margin-top:10px;
    margin-left: 3%;
    height: 50px;    
}

.container-title-img{
    width: 40px;
    height: 40px;

}

.container-title-name{
    font-size: 3rem;
    font-weight: bold;
    margin-left: 20px;
}


/*全部區塊*/
.container-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    flex-basis: 0;
    margin-left: 3%;    
    flex-grow: 1;
    height: 100vh;
}

@media screen and (min-width: 1000px) {
    .container-content {
    flex-wrap: nowrap;
    }
}


/*左邊區塊*/
.container-content-area-left{
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 70%;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 1%;
    align-items: flex-start;
    align-content: flex-start
}


/*左上區塊*/
.container-content-area-left-chart{
    background-color: white;
    height: auto;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-grow: 8;
    flex-shrink: 0;
    flex-basis: auto;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 30px;
}

.container-content-area-left-chart-title{
    padding-left:40px;
    padding-top: 5px;
    padding-bottom: 5px;
}



/*左下區塊*/
.container-content-area-bottom{
    display: flex;    
    height:50%;
    width:100%;    
    margin-right: 3%;
}

.container-content-area-bottom-completion-rate-title{
    padding-left:40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-content-area-bottom-completion-rate{
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-grow:1;
    flex-direction: column;
    margin-bottom: 3%;
    margin-right: 1.5%;
}

.container-content-area-bottom-application-from-title{
    padding-left:40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-content-area-bottom-application-from{
    background-color: white;    
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-grow:1;
    flex-direction: column;
    margin-bottom: 3%;
    margin-left: 1.5%;
}



/*右方區塊*/

.container-content-area-right{
    margin-bottom: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-left: -10px;
    height: 97%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 30%;
}

.container-content-area-right > * {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 30% ;
}

@media screen and (max-width: 1000px) {
    .container-content-area-right {
        flex-basis: 68.5%;
    }
}

.container-content-area-right-vacancies-list{
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.container-content-area-right-vacancies-list{
    flex-direction: column;
    margin-left: 10px;
}

.container-content-area-right-vacancies-list-title{
    padding-left:40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-content-area-right-vacancies-list-detail{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left:53px;
    margin-bottom: 3px;
}

.container-content-area-right-vacancies-list-status-edit{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    background-color: white;
    border-style: solid;
    border-color: #707070;    
}

.container-content-area-right-vacancies-list-status-active{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    background-color: #0C7446;
    border-style: solid;
    border-color: #0C7446;    
}

.container-content-area-right-vacancies-list-status-pending{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    background-color:#FFC107;
    border-style: solid;
    border-color: #FFC107;    
}

.container-content-area-right-vacancies-list-status-close{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    background-color:#6C757D;
    border-style: solid;
    border-color: #6C757D;   
}

.container-content-area-right-vacancies-list-words{
    font-size: 20px;
    color:blue;
    text-decoration: underline;
}




/* 標題列樣式 */
h1 {
    font-size: 3rem;
    font-weight: bold;
}


h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

li {
    list-style: none;
}

div{
    display: flex;
}

canvas {
    flex-shrink: 0;   
    max-width: 80%;
    max-height: 90%;    
    align-self: center;
    margin-bottom: 20px;
}


@media screen and (min-width: 1000px) {
    .container-content {
    flex-wrap: nowrap;
    }
}